html, body {
  height: 100%;
  margin: 0;
  font-family: arial,sans-serif;
}

.img-fixed{
    height: auto;
    width: 100px;
}

.font-red{
    color: #d93025;
}
.col-width-fixed{
    width: 200px
}

.col-width-calc{
    width: calc( 100% - 200px);
}

.font-small{
    font-size: 10px;
}